<% content_for :head do %>
	<meta http-equiv="refresh" content="10">
<% end %>
<div id="check" class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<h1>
				<i class="fa fa-spinner fa-pulse"></i>
				[<%= self.type.to_s.upcase %>] <%= t 'Currently analysing %{host}', host: @host  %>
			</h1>
			<p class="small">
				<%= t 'Start of analysis: %{date}', date: l(@analysis.updated_at) %>
			</p>
			<p class="pull-right">
				<%= t('Please wait…') %>
				<span class="small">(<%= t 'This page refreshes automatically every 10 seconds' %>)</span>
			</p>
		</div>
	</div>
</div>
