<div class="container">
	<div class="row">
		<div class="col-sm-11">
			<h1>
				[<%= self.type.to_s.upcase %>] <%= @host %> <span class="small">(<%= l @result.date %>)</span>
			</h1>
		</div>
		<% if Time.now - @result.date >= Rails.configuration.refresh_delay %>
			<div class="col-sm-1">
				<%= link_to t('Refresh'), { action: :refresh }, class: %i(btn btn-default) %>
			</div>
		<% end %>
	</div>

	<% @result.hosts.each do |host| %>
		<div class="row">
			<div class="col-sm-12">
				<h2>
					<%= rank_label host.grade %>
					<%= host.ip %> : <%= host.port %>
					<span class="small">(<%= host.hostname %>)</span></h2>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<h3><%= t 'Checks' %></h3>
				<table class="table table-bordered table-condensed table-striped">
					<thead>
					<th><%= t 'Severity' %></th>
					<td></td>
					</thead>
					<tbody>
					<% ::CryptCheck::State.each do |level| %>
						<tr>
							<th><%= label level, "state-#{level}" %></th>
							<td><%= labels level, host.states[level] %></td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<h3><%= t 'Certificates' %></h3>
				<table class="table table-bordered table-condensed table-striped">
					<thead>
						<tr>
							<th>
								<%= t 'Subject' %>
								<span class="small">[<%= t 'Serial' %>]</span>
								<div class="small"><%= t 'Fingerprint' %></div>
							</th>
							<td><%= t 'Issuer' %></td>
							<td><%= t 'Not before' %></td>
							<td><%= t 'Not after' %></td>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% host.handshakes.certs.each do |cert| %>
						<tr>
							<th>
								<%= cert.subject %> [<%= cert.serial %>]
								<div class="small"><%= cert.fingerprint %></div>
							</th>
							<td><%= cert.issuer %></td>
							<td><%= l cert.lifetime.not_before %></td>
							<td><%= l cert.lifetime.not_after %></td>
							<td><%= states cert.states %></td>
						</tr>
							<% cert.chain.each do |cert| %>
						<tr>
							<th>
								<%= cert.subject %> [<%= cert.serial %>]
								<div class="small"><%= cert.fingerprint %></div>
							</th>
							<td><%= cert.issuer %></td>
							<td><%= l cert.lifetime.not_before %></td>
							<td><%= l cert.lifetime.not_after %></td>
						</tr>
							<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	<% end %>
</div>
