<div id="ssh_check" class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Vérifier votre serveur SSH</h1>
			<%= form_tag root_path do %>
				<div class="form-group">
					<div class="col-sm-8">
						<%= text_field_tag :host, nil, class: %i(form-control input-lg), placeholder: 'your-site.com' %>
					</div>
					<div class="col-sm-2">
						<%= text_field_tag :port, nil, class: %i(form-control input-lg), placeholder: 'port' %>
					</div>
					<div class="col-sm-2">
						<%= hidden_field_tag :type, :ssh %>
						<%= submit_tag 'Test-moi !', class: %i(form-control btn btn-primary input-lg pull-right) %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
