<div class="container">
	<div class="row">
		<div class="col-sm-11">
			<h1>
				[SSH] <%= @host %> <span class="small">(<%= l @result.date %>)</span>
			</h1>
		</div>
		<% if Time.now - @result.date >= Rails.configuration.refresh_delay %>
		<div class="col-sm-1">
			<%= link_to t('Refresh'), {action: :refresh}, class: %i(btn btn-default) %>
		</div>
		<% end %>
	</div>
	<%
		@result.hosts.each do |host|
			if host.error
				error, host = host.error, host.host
	%>
	<div class="row">
		<div class="col-sm-12">
			<h2><%= host.name %> - <%= host.ip %> : <%= host.port %></h2>
			<%= t 'Error during analysis:' %>
			<span class="label label-error"><%= error %></span>
		</div>
	</div>
	<%
		else
			host, server = host.host, host.handshake
	%>
	<div class="row">
		<div class="col-sm-12">
			<h2><%= host.name %> - <%= host.ip %> : <%= host.port %></h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<table class="table table-bordered table-condensed table-striped">
				<tbody>
					<tr>
						<th><%= t 'Key exchange' %></th>
					</tr>
					<% server.kex.each do |kex| %>
					<tr>
						<td><%= kex_label kex %></td>
					</tr>
					<% end %>

					<tr>
						<th><%= t 'Cipher' %></th>
					</tr>
					<% server.encryption.each do |cipher| %>
					<tr>
						<td><%= cipher_label cipher %></td>
					</tr>
					<% end %>

					<tr>
						<th><%= t 'HMAC' %></th>
					</tr>
					<% server.hmac.each do |hmac| %>
						<tr>
							<td><%= hmac_label hmac %></td>
						</tr>
					<% end %>

					<tr>
						<th><%= t 'Compression' %></th>
					</tr>
					<% server.compression.each do |compression| %>
						<tr>
							<td><%= compression_label compression %></td>
						</tr>
					<% end %>

					<tr>
						<th><%= t 'Keys' %></th>
					</tr>
					<% server.key_.each do |key| %>
					<tr>
						<td><%= key_label key %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	<% end
	   end %>
</div>
