<h1><%= t 'Check your TLS server' %></h1>
<%= form_tag root_path, class: %i[container-fluid] do %>
	<%= hidden_field_tag :type, :tls %>
	<div class="row input-group input-group-lg mb-3">
		<div class="col input-group-lg">
			<%= text_field_tag :host, nil, class: %i[form-control],
							   placeholder:       'your-site.com', required: true %>
		</div>

		<div class="col-auto input-group-lg">
			<%= text_field_tag :port, nil, class: %i[form-control], placeholder: 'port',
							   type:              :number, min: 0, max: 65535, required: true %>
		</div>

		<div class="col-auto input-group-lg">
			<%= submit_tag t('Test me!'), class: %i[btn btn-outline-primary] %>
		</div>
	</div>
<% end %>

