<div class="container">
	<div class="row">
		<table class="table table-bordered table-condensed table-striped center col-sm-12">
			<thead>
				<tr>
					<th rowspan="2">Name</th>
					<th rowspan="2">Key exchange</th>
					<th rowspan="2">Authentification</th>
					<th colspan="4">Encryption</th>
					<th colspan="2">MAC</th>
					<th rowspan="2">PFS</th>
				</tr>
				<tr>
					<th>Type</th>
					<th>Key size</th>
					<th>Block size</th>
					<th>Mode</th>
					<th>Type</th>
					<th>Size</th>
				</tr>
			</thead>
			<tbody>
				<% CryptCheck::Tls::Cipher.list.each do |cipher|
					params = cipher.params
					kex = params[:kex]
					auth = params[:auth]
					enc = params[:enc]
					mac = params[:mac]
					pfs = params[:pfs]
				%>
				<tr>
					<th><%= cipher_name_label cipher %></th>
					<%= cipher_kex_type_cell kex&.first %>
					<%= cipher_auth_type_cell auth&.first %>
					<%= cipher_enc_type_cell enc&.first %>
					<%= cipher_enc_key_size_cell enc&.[] 1 %>
					<%= cipher_enc_block_size_cell enc&.[] 2 %>
					<%= cipher_enc_mode_cell enc&.last %>
					<%= cipher_mac_type_cell mac&.first %>
					<%= cipher_mac_size_cell mac&.last %>
					<%= cipher_pfs_cell pfs %>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
