<header>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<span>
					<%= link_to 'CryptCheck', root_path, class: %i(navbar-brand) %>
				</span>
			</div>
			<ul class="nav navbar-nav">
				<li><%= link_to 'HTTPS / SMTP / XMPP', root_path %></li>
				<li><%= link_to 'TLS', tls_path %></li>
				<li><%= link_to 'SSH', ssh_path %></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to t('User agent compatibility'), suite_path %></li>
				<li><%= link_to t('Supported ciphers'), ciphers_path %></li>
				<!--
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						Hall of f/sh·ame
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">Misc</a></li>
						<li><a href="#">Syndicats</a></li>
						<li><a href="#">SecureDrop</a></li>
						<li><a href="#">Presse</a></li>
						<li><a href="#">Top 500 Alexa</a></li>
						<li><a href="#">Porn</a></li>
						<li><a href="#">US gov</a></li>
					</ul>
				</li>
				-->
			</ul>
		</div>
	</nav>
</header>
