<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
	<div class="container-fluid">
		<%= link_to 'CryptCheck', root_path, class: %i(navbar-brand) %>

		<ul class="navbar-nav mr-auto me-auto mb-2 mb-lg-0">
			<li class="nav-item"><%= link_to 'HTTPS / SMTP / XMPP', root_path, class: %i(nav-link) %></li>
			<li class="nav-item"><%= link_to 'TLS', tls_path, class: %i(nav-link) %></li>
			<li class="nav-item"><%= link_to 'SSH', ssh_path, class: %i(nav-link) %></li>
		</ul>

		<ul class="navbar-nav mr-auto ms-auto mb-2 mb-lg-0">
			<li class="nav-item"><%= link_to t('User agent compatibility'), suite_path, class: %i(nav-link) %></li>
			<li class="nav-item"><%= link_to t('Supported cipher suites'), ciphers_path, class: %i(nav-link) %></li>
			<li class="nav-item"><%= link_to t('Help'), help_path, class: %i(nav-link) %></li>
			<li class="nav-item"><%= link_to t('About'), about_path, class: %i(nav-link) %></li>
		</ul>
	</div>
</nav>
