<!DOCTYPE html>
<html>
<head>
	<title>CryptCheck</title>
	<%= stylesheet_pack_tag 'application', media: 'all' %>
	<%= javascript_pack_tag 'application' %>
	<%= csrf_meta_tags %>
	<%= yield :head %>
</head>
<body>
<%= render partial: 'headers' %>
<main class="container">
	<%= render partial: 'flash' %>
	<%= yield %>
</main>
</body>
</html>
